{% extends "stats.html" %}

{% block content %}
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Language</th>
      <th>Coat</th>
      <th>Gloves</th>
      <th>Scarf</th>
      <th>Shoes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>Aghul</td>
      <td>alikás</td>
      <td>alikás</td>
      <td>alikás</td>
      <td>alikás</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Basque</td>
      <td>jantzi</td>
      <td>jantzi</td>
      <td>hartu</td>
      <td>jarri</td>
    </tr>
    <tr>
      <th>1</th>
      <td>English</td>
      <td>put on</td>
      <td>put on</td>
      <td>wrap</td>
      <td>put on</td>
    </tr>
    <tr>
      <th>10</th>
      <td>English</td>
      <td>put on</td>
      <td>put on</td>
      <td>put on</td>
      <td>put on</td>
    </tr>
    <tr>
      <th>8</th>
      <td>German</td>
      <td>anziehen</td>
      <td>überziehen</td>
      <td>umbinden</td>
      <td>schlüpfen</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Greek</td>
      <td>dino</td>
      <td>forao</td>
      <td>forao</td>
      <td>forao</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Russian</td>
      <td>надеть</td>
      <td>натянуть</td>
      <td>обмотать</td>
      <td>обуть</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Russian</td>
      <td>надеть</td>
      <td>надеть</td>
      <td>надеть</td>
      <td>надеть</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Russian</td>
      <td>надеть</td>
      <td>надеть</td>
      <td>повязать</td>
      <td>надеть</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Russian</td>
      <td>надеть</td>
      <td>натянуть</td>
      <td>надеть</td>
      <td>надеть</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Serbian</td>
      <td>обући</td>
      <td>навући</td>
      <td>омотати</td>
      <td>обути</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Spanish</td>
      <td>poner</td>
      <td>poner</td>
      <td>poner</td>
      <td>poner</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Yiddish</td>
      <td>lilbosh</td>
      <td>lilbosh</td>
      <td>lasim</td>
      <td>linol naalayim</td>
    </tr>
  </tbody>
</table>
{% endblock %}